@import "../../../../_variables";

.personalInformations {
  border-bottom: $border-primary;
  padding-bottom: 40px;
  margin-bottom: 40px;
  h3 {
    font-size: 1.25rem;
    color: $color-secondary;
    margin-bottom: 20px;
  }

  .personalInformations__description {
    margin-bottom: 40px;
  }

  $nameInputs-width: calc(50% - 10px);

  .personalInformations__nameInputs {
    display: grid;
    grid-template-columns: $nameInputs-width $nameInputs-width;
    grid-gap: 20px;
    margin-bottom: 40px;
  }
}
