@import "../../_variables";

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  position: absolute;
  top: 0;
  left: 0;

  .login__header {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      margin-bottom: 40px;
    }

    h1 {
      font-size: 2rem;
      color: $color-secondary;
      margin-bottom: 10px;
    }

    p {
      color: $color-secondary;
    }
  }

  .login__inputs {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .login__button {
    margin-bottom: 40px;
  }

  .login__passwordReset {
    margin-bottom: 20px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    small {
      font-size: 0.75rem;
      margin-right: 10px;
    }

    button {
      font-size: 0.75rem;
      background: none;
      border: none;
      color: $color-secondary;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .login__signUp {
    @extend .login__passwordReset;
    opacity: 1;

    small,
    button {
      font-size: 1rem;
    }
  }
}
