@import "../../_variables";

.chatRoom {
  width: 100%;
  border: $border-primary;
  display: flex;
  flex-direction: column;

  .chatRoom__header {
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: $border-primary;
    padding: 20px 40px;

    .chatRoom__header__roomInfo {
      flex: 1;

      h2 {
        font-size: 1.25rem;
        color: $color-secondary;
        margin-bottom: 5px;

        span {
          font-size: 1.25rem;
          color: $color-primary;
          margin-right: 10px;
        }
      }
      .chatRoom__header__roomInfo__members {
        margin-left: 25px;

        small {
          margin-right: 15px;
        }

        button {
          background: none;
          border: none;
          color: $color-link;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
    .chatRoom__header__options {
      display: flex;
      align-items: center;

      svg {
        margin-left: 20px;
        cursor: pointer;
      }

      .chatRoom__header__options__line {
        border-left: $border-primary;
        height: 2rem;
        margin-left: 15px;
      }

      .chatRoom__header__options__favourite {
        display: flex;
        svg {
          margin-left: 15px;
        }
      }
    }
  }

  .chatRoom__messages {
    width: 100%;
    padding: 0 40px;
    flex: 1;
  }

  .chatRoom__messageInput {
    padding: 40px;
  }
}
