@import "../../_variables";
$nav-font-amount: 2;

.navbar {
  height: 100%;
  width: 80px;
  background: $background-secondary;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .navbar__logo {
    margin-bottom: 60px;
  }

  nav {
    flex: 1;

    .navbar__navIcons {
      height: $nav-font-amount * 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  .navbar__account {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
