@import "../../_variables";

.navbar {
  height: 100%;
  width: 80px;
  background: $background-secondary;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .navbar__logo {
    margin-bottom: 60px;
  }

  nav {
    flex: 1;
  }
}
