@import "../../_variables";
$messageInput-icons-amount: 2;

.messageInput {
  width: 100%;
  border: $border-secondary;
  border-radius: 10px;
  background: $background-input-secondary;
  padding: 20px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-secondary;

  .messageInput__postButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      background: none;
      border: none;
      color: $color-secondary;
      font-weight: 600;
      cursor: pointer;
    }
  }

  $ck-font-size-base: 13px;
}
