@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

$background-primary: rgb(31, 33, 36);
$background-secondary: rgb(17, 18, 19);

$color-primary: rgb(166, 168, 1169);
$color-secondary: rgb(255, 255, 255);
$color-link: rgb(190, 191, 192);

$border-primary: 1px solid rgb(49, 51, 53);

$font-noto: "Noto Sans JP", sans-serif;
$font-lato: "Lato", sans-serif;
